.map-container {
    width: 100%;
    height: 100vh;
}

.search-input-container {
    position: fixed;
    width: 100%;
    left: 0;
    top: 20px;
    z-index: 999;
}

.search-input-background {
    background-color: white;
    opacity: 0.9;
}

.modal-container {
}