<!DOCTYPE html>

<html>

	<head>
		<% include ../partials/head %>
	</head>

	<body>

		<div class="post-body">
			<form action="/posts/<%= posts._id %>?_method=put" method="post">
				<div>
					<div class="post-upper-margin">
						<label for="title" class="w3-label w3-text-blue-grey">Title</label>
						<input type="text" id="title" class="w3-input w3-border w3-sand" name="title" value="<%= posts.title %>">
					</div>
					<div class="post-upper-margin">
						<label for="content" class="w3-label w3-text-blue-grey">Content</label>
						<textarea id="content" class="w3-input w3-border w3-sand" name="content" rows="10"><%= posts.content %></textarea>
					</div>
				</div>
				<div class="post-upper-margin">
					<button type="submit" class="w3-btn w3-blue-grey button-size post-upper-margin">Modify</button>
				</div>
			</form>
		</div>
	</body>

</html>
