<!DOCTYPE html>

<html>

	<head>
		<% include ../partials/head %>
	</head>

	<body>
		<div class="w3-container allusers-body w3-card-4 w3-centered">
			<ul class="w3-ul w3-hoverable">
				<% if((userData == null) || (userData.length == 0)) { %>
					<div>No User Data</div>
				<% } %>
				<% userData.forEach(function(userData) { %>
					<li>
						<a href="/account/<%= userData.userid %>">
							<%= userData.userid %>
						</a>
					</li>
				<% }); %>
			</ul>
		</div>
	</body>

</html>
