<!DOCTYPE html>

<html>

	<head>
		<% include ../partials/head %>
	</head>

	<body>
		<div class="login-body">
			<form class=class="w3-card-4" action="/login" method="post">
				<div class="login-upper-margin">
					<label for="userid" class="w3-label w3-text-blue-grey">ID</label>
					<input type="text" id="userid" class="w3-input w3-border w3-sand" name="userid" value="">
					<% if(errors.userid) { %>
						<span class="w3-text-pink"><%= errors.userid %></span>
					<% } %>
				</div>
				<div class="login-upper-margin">
					<label for="password" class="w3-label w3-text-blue-grey">Password</label>
					<input type="password" id="password" class="w3-input w3-border w3-sand" name="password" value="">
					<% if(errors.password) { %>
						<span class="w3-text-pink"><%= errors.password %></span>
					<% } %>
					<% if(errors.login) { %>
						<span class="w3-text-pink"><%= errors.login %></span>
					<% } %>
				</div>
				<div class="login-upper-margin">
					<button type="submit" class="w3-btn w3-blue-grey button-size" name="button">Login</button>
				</div>
			</form>
		</div>
	</body>

</html>
