.write-leftbar-container {
    /*
    width: 25%;
    float: left;
    */
}

.write-editor-container {
    /*
    width: 75%;
    float: right;
    */
}

.preloader-container {
    left: 50%;
    top: 50%;
    position: fixed;
}