<!DOCTYPE html>

<html>

	<head>
		<% include ../partials/head %>
	</head>

	<body>
		<div class="user-detail-body">
			<ul class="w3-ul">
				<li class="w3-padding-16">User ID : <%= userData.userid %></li>
				<li class="w3-padding-16">User Name : <%= userData.username %></li>
				<li class="w3-padding-16">E-mail : <%= userData.email %></li>
			</ul>
			<% if(isAuthenticated && (currentUser.id == userData.id)) { %>
			<a href="/account/<%= userData.userid %>/edit">
				<button type="button" class="w3-btn w3-blue-grey button-size user-detail-margin">Edit</button>
			</a>
			<% } %>

		</div>
	</body>

</html>
